@model IEnumerable<MyApp.Model.RolePermissionViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr> 
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr> 
    <td>
        @Html.DisplayFor(modelItem => item.RoleName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PageName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.RolePermissingID }) |
        @Html.ActionLink("Details", "Details", new { id = item.RolePermissingID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.RolePermissingID })
    </td>
</tr>
}

</table>
